$primary-color: #4dbbfb;
$secondary-color: #50d2c2;
$transparent: transparent;
$grey-color: #605d5f;
$black-color: #120c19;
$white-color: #ffffff;
$font: 'Poppins';
$lite-font: 300;
$regular-font: 400;
$medium-font: 500;
$semi-bold-font: 600;
$bold-font: 700;
